# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
 .flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
.vscode/
*.iml

# OS Files
.DS_Store
Thumbs.db

# Android
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/app/*.keystore
**/android/app/*.jks

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.generated/
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*

# Xcode
**/ios/Runner.xcworkspace/
**/ios/Runner.xcarchive/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Podfile.lock

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.*

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/.dart_tool/

# Firebase
google-services.json
GoogleService-Info.plist

# Environment Files
.env
.env.*

# Logs
*.log

# Coverage
coverage/

# Crashlytics
crashlytics-build.properties

# Others
pubspec.lock   # optional for apps, not packages

