<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJ86nK4LFK2kkpBcI7ZloHcfoU0eWc7gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>764623398624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealmentorai.mealMentor</string>
	<key>PROJECT_ID</key>
	<string>mealmentor-ai-59502</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmentor-ai-59502.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764623398624:ios:de94038157e639895c9285</string>
</dict>
</plist>